*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    height:800px;
    margin: auto;
    margin-top: 100px;
    display:grid;
    /* making the parent as grid container */

    border: 2px solid black;
    grid-template-columns: 1fr 1fr 1fr 1fr;
     grid-template-rows: 1fr 1fr 1fr ; /* 3*/
    gap:10px;
}
.child1{
    grid-column: 1/3;
    display: flex;
    grid-row: 1/2;
    justify-content: space-between;
   
   
}
.child1 h5{
    text-align: center;
    right:100px;
    width:100px;
    margin: 20px auto;
    padding: 5px 0;
    justify-content: center;
    height: 50px;
}
.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color:skyblue ;
    justify-content: space-between;
}
.child2 h1{
    position: relative;
    top:50px;
    text-align:center ;
    font-size: 1rem;
    padding:30px
}
.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color:orange ;
}
   .child4{
    grid-column: 2/4;
    grid-row: 2/3;
    justify-content: space-between;
    display: flex;
   
}
.child4 h2{
    text-align: center;
}
   .child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color:purple;
    
}
.child5 h6{
    position: relative;
    top: 30px;
    text-align: center;
    font-size: 1.5rem;
    color: whitesmoke;
}
.child5 button{
    position: relative;
    top:50px;
    left:70px;
    color: black;
    background-color: rgb(103, 103, 219);
    align-items: center;
}
   .child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color:pink ;
}
   .child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color:burlywood ;
}
   
@media screen  and (max-width:600px){
    /* stacked view*/
    .parent{
        grid-template-columns: 1fr;
        grid-template-rows: auto;
    }
    .parent >div{
        grid-column: auto;
        grid-row: auto;
        /* height: auto; */

    }
}