*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.parent{
    width: 800px;
    max-width: 100%;
    margin: 100px auto;
    display: grid;
    border: 2px solid black;

    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto auto auto;
    gap: 10px;
}

.child1{
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    justify-content: space-between;
    align-items: center;
   
}

.child1 h5{
    width: 100px;
    text-align: center;
    padding: 10px 0;
}

.child2{
    grid-column: 3/5;
    grid-row: 1/2;
    background-color: skyblue;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px;
}

.child2 h1{
    font-size: 1rem;
    text-align: center;
}

.child3{
    grid-column: 1/2;
    grid-row: 2/3;
    background-color: orange;
    
}

.child4{
    grid-column: 2/4;
    grid-row: 2/3;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: black;
}

.child4 h2{
    text-align: center;
    color: whitesmoke;
}

.child5{
    grid-column: 4/5;
    grid-row: 2/4;
    background-color: purple;
    padding: 20px;
    text-align: center;
}

.child5 h6{
    font-size: 1.5rem;
    color: whitesmoke;
    margin-bottom: 20px;
}

.child5 button{
    padding: 8px 15px;
    background-color: rgb(103, 103, 219);
    border: none;
    cursor: pointer;
}

.child6{
    grid-column: 1/2;
    grid-row: 3/4;
    background-color: pink;
    padding: 20px;
}


.child7{
    grid-column: 2/4;
    grid-row: 3/4;
    background-color: burlywood;
    padding: 20px;
}


@media screen and (max-width:600px){

    .parent{
        width: 95%;
        grid-template-columns: 1fr;
    }

    .parent > div{
        grid-column: auto ;
        grid-row: auto ;
    }

    .child1,
    .child4{
        flex-direction: column;
        gap: 10p
    }
}