*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

/* designing  the top navigation bar */
.top{
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: white;
}

.top h5{
    font-size: 18px;
}

.top ul{
    display: flex;
    list-style: none;
    gap: 30px;
}

.top ul a{
    text-decoration: none;
    color: #00bcd4;
    font-size: 14px;
}

.image{
    background-color: #2ec4b6;
    text-align: center;
    padding: 60px 20px;
    color: white;
}

.image img{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.image h5{
    font-size: 28px;
    margin-bottom: 10px;
}

.image p{
    font-size: 16px;
}

/* Cards Section */
.row{
    display: flex;
    padding: 50px 80px;
    gap: 40px;
}

.card{
    flex: 1;
}

.card h5{
    font-size: 20px;
    margin-bottom: 15px;
}

.card p{
    font-size: 14px;
    line-height: 1.6;
}

.card img{
    width: 100%;
    margin: 15px 0;
}