*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
nav{
    display: flex;
    justify-content:space-between ;
    background-color: black;
}
nav ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
nav ul a{
    text-decoration: none;
    font-size: 1.5rem;
    color: aquamarine;
}
.logo{
    width:50px;
    border-radius: 50%;
}

main{
    margin: 0px 70px;
    border: 10px;

}
.card{
  /*  flex-shrink: 0;
    flex-grow: 0;
    flex-basis: 300px; */
    flex: 0 0 300px;
    width: 300px;
    padding: 15px;
    text-align: center;
    margin-bottom: 50px;
    box-shadow: 1px 1px 10px 1px grey;
}
.card img{
    width: 100%;
    border-radius: 100%;
}

.row{
    display: flex;
    justify-content: space-around;
    
   
}
.card button{
    border: none;
    background-color: lightgreen;
    color: white;
    border-radius: 0;
    padding:5px 10px;

}
footer{
    list-style: none;
    padding: 20px;
    display: flex;
    justify-content:space-around;
    background-color: black;

}

footer ul{
    width: 400px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
footer ul a{
    text-decoration:none ;
    color: white;
}

@media screen and (max-width:700px)  {
    .row{
        flex-wrap: wrap;
        flex: 0 0 45%
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
        flex-direction: column;
       
    }
    footer{
        flex-direction: row;
    }
    footer ul{
        flex-direction: column;
    }
    
}