*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

div{
    margin: 0px ;
    border: 10px;


}
.hlo{

    padding: 100px;
    text-align: left;
    margin-bottom: 50px;
    background-color: rgb(5, 228, 248);
    font-size: 1.5rem;
   
}

.row{
    display: flex;
    justify-content: space-around;
}

.card{
    width: 300px;
    padding: 15px;
    text-align: left;
   
}

.hlo button{
    border: none;
    background-color: rgb(95, 95, 216);
    color: white;
    border-radius: 0;
    padding:5px 10px;


}


button{
    border: none;
    background-color: grey;
    color: white;
    border-radius: 0;
    padding:5px 10px;

}

